{{#each posts}}
<div class="blog-post">
  <h2 class="blog-post-title">{{metadata.title}}</h2>
  <p class="blog-post-meta">{{metadata.date}}</p>
  
  <div class="content">
    {{md metadata.summary}}
  </div>
  
  <a href="{{postlink this}}#more" class="button">See More</a>
</div>
{{/each}}