<!DOCTYPE HTML>
<html>
  <head>
    <title>About Me - {{site.name}}</title>
    {{> manifest}}
  </head>
  <body class="no-sidebar loading">

    <article id="main">
      <header class="special container">
        <span class="icon fa-user"></span>
        <h2>About Me</h2>
      </header>
      
      <section class="wrapper style4 container single-post">
        <div class="content">
          {{{content}}}
        </div>
      </section>
      
    </article>
  </body>
</html>