<!DOCTYPE HTML>
<html>
  <head>
    <title>{{site.name}}</title>
    {{> manifest}}
  </head>
  <body class="no-sidebar loading">

   {{> header}}
   
   <div class="container">
    <div class="blog-header">
      <h1 class="blog-title">{{site.name}}</h1>
      <p class="lead blog-description">{{site.description}}</p>
    </div>
   </div>
   
   
   <div class="container">
     <div class="row">
       <div class="col-sm-12 blog-main">
         {{> posts}}
       </div>
     </div>
   </div>
    
    
  {{#hasNextPage}}
  <ul class="pager">
    <li><a href="{{nextPage}}" class="button">Previous</a></li>
  </ul>
  {{/hasNextPage}}
  
  {{> footer}}
  </body>
</html>